version: '3'

services:
  db:
    hostname: "${POSTGRES_HOST}"
    image: postgres:12.2-alpine
    environment:
      - POSTGRES_DB="${POSTGRES_DB}"
      - POSTGRES_USER="${POSTGRES_USER}"
      - POSTGRES_PASSWORD="${POSTGRES_PASSWORD}"
    volumes:
      # Mount pgdata directory locally to easily
      # persist or delete between Docker sessions
      - ./_postgres_data/data:/var/lib/postgresql/data
  django:
    build: .
    volumes:
      - ./:/code/
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/app
  proxy:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./static:/static
    ports:
      - "8080:80"
    depends_on:
      - django
