<router-outlet></router-outlet>

<div class="container">
  <div class="row">
    <div class="col">
      <plotly-plot
          *ngIf="chart$ | async; let chart;"
          [data]="chart.data"
          [layout]="chart.layout"
          [config]="chart.config"
          (plotly_click)="click($event)"
          (relayout)="relayout($event)"
      ></plotly-plot>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
          class="btn btn-danger"
          (click)="resetGame()"
      >Reset Game</button>
    </div>
  </div>
</div>